.col-12 img {
    border-style: outset;
    border-width: 3px;
    border-color: black;
}

.col-12>h1 {
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

.col-12>h2 {
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}


/*... navegador ...*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 28%;
}

.navbar a {
    border: 1px solid white;
    border-style: outset;
    border-width: 3px 3px 3px;
    border-radius: 0;
    padding: 10px;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: violet;
}

.col-6 p {
    font-family: 'Caveat', cursive;
    font-size: 130%;
    text-align: center;
}

.col-6 a {
    text-align: center;
}

.col-12 h3 {
    color: white;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 250%;
    background-color: black;
    text-align: center;
}

.col-12 p {
    font-family: 'Caveat', cursive;
    font-size: 170%;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
    font-family: 'Caveat', cursive;
    color: white;
    text-align: center;
}

.hescrit {
    color: black;
    background-image: linear-gradient(black, violet, white);
    font-family: 'Caveat', cursive;
    font-size: 170%;
    text-align: center;
}